html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('C:\Users\Toshiba\Desktop\truthordare-react\src\bd988483-c890-4323-8428-b8266384b793.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: lightgray;
}
